@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(38, 38, 38);
}
header{
    float: left;
    width: 260px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(217, 54, 50);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    border-right: 1px rgb(60,60,60)solid;
    position: fixed;
    box-shadow: black 0 0 10px;
    
}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px rgb(60,60,60)solid;
}
.logo a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 16pt;

}
.logo button{
   background-color: transparent;
   border: none;
   color: antiquewhite;
   cursor: pointer;
}

ul a li{
    list-style: none;
    color: antiquewhite;
    display: flex;
    align-items: center;
}
ul a li:hover{
    color: rgba(250, 235, 215, 0.568);
}
h1{
    font-family: 'Poppins';
}

.sidebar_menu .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    height: 30px;
    background: rgb(31, 31, 31);
    border-radius: 8px;
    border: 1px rgb(29, 29, 29) solid;
    margin-bottom: 2rem;
}

.sidebar_menu .search input{
    background: rgb(31, 31, 31);
    border: rgb(60,60,60);
    width: 190px;
    outline: 0;
    color: #FFF;
}

::-webkit-input-placeholder {
    color: #DFDFDF;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #DFDFDF;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #DFDFDF;  
 }
 
 :-ms-input-placeholder {  
    color: #DFDFDF;  
 }

 main{
    width: 80%;
    height: 100vh;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-left: 5rem ;
    margin-left: 13rem;
   
 }

 main .box-pokemon{
     width: 75vw;
     height: 90vh;
     background-color: rgb(217, 54, 50);
   
     

     padding: 20px;
     

 }
 .box-pokemon .pokemon-img{
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px rgba(0, 0, 0, 0.671) solid;
    
 }
 .box-pokemon .pokemon-img label{
   width: 40px; height: 40px; position: absolute; right: 0px; top: 5px;
 

    cursor: pointer;
    
 }

 .box-pokemon .pokemon-text{
     margin-top: 10px;
 
    height: 200px;
 }
 .box-pokemon .pokemon-text h2{
    text-transform: capitalize;
    color: #FFF;
 }

 .box-pokemon .pokemon-text h3{
     font-family: sans-serif;
     text-transform: capitalize;
     color: rgba(255, 255, 255, 0.753);
 }